name: Zephyr CI

on:
  push:
    # paths:
    #   - 'led_tests/**'
    #   - 'led_button_tests/**'
  pull_request:
    # paths:
    #   - 'led_tests/**'
    #   - 'led_button_tests/**'

jobs:
  led_tests:
    runs-on: ubuntu-latest
    container:
      image: hardwario/nrf-connect-sdk-build:v2.9.0-1

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Generate native_sim overlay
      - name: Generate temporary native_sim overlay
        run: |
          NATIVE_OVERLAY="led_tests/native_sim.overlay"
          python3 scripts/generate_overlay.py \
            led_tests/boards/native_posix.overlay \
            $NATIVE_OVERLAY
          cat led_tests/native_sim.overlay

      # # 3. Initialize west
      # - name: West init
      #   run: |
      #     cd led_tests
      #     west init
      #     west update -o=--depth=1 -n

      # # 4. Build for native_sim using both overlays
      # - name: Build for native_sim
      #   run: |
      #     cd led_tests
      #     west build -b native_sim -- \
      #       -DDTC_OVERLAY_FILE=native_sim.overlay

      # # 5. Run the simulation and capture output
      # - name: Run simulation
      #   run: |
      #     cd led_tests
      #     chmod +x build/zephyr/zephyr.exe
      #     timeout 10s stdbuf -oL build/zephyr/zephyr.exe | tee led_tests_out.log

      # # 6. Check that LEDs turned on/off
      # - name: Check LED/button output
      #   run: |
      #     cd led_tests
      #     if grep -q "LED ON" led_tests_out.log && grep -q "LED OFF" led_tests_out.log; then
      #         echo "LED toggled correctly!"
      #     else
      #         echo "LED did not toggle correctly!"
      #         exit 1
      #     fi

  led-button-tests:
    runs-on: ubuntu-latest
    container:
      image: hardwario/nrf-connect-sdk-build:v2.9.0-1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate temporary native_sim overlay
        run: |
          NATIVE_OVERLAY="led_button_tests/native_sim.overlay"
          python3 scripts/generate_overlay.py \
            led_button_tests/boards/native_posix.overlay \
            $NATIVE_OVERLAY
          cat led_button_tests/native_sim.overlay
      
      - name: Create native_sim CI config
        run: |
          cd led_button_tests
          cat <<'EOF' > ci_native_sim.conf
          CONFIG_GPIO_NATIVE_SIM=y
          CONFIG_GPIO_NATIVE_SIM_STDIN=y
          CONFIG_INPUT_GPIO_KEYS=y
          EOF
          cat ci_native_sim.conf

      - name: West init
        run: |
          cd led_button_tests
          west init
          west update -o=--depth=1 -n

      - name: Build for native_sim
        run: |
          cd led_button_tests
          west build -b native_sim -- \
            -DDTC_OVERLAY_FILE=native_sim.overlay \
            -DEXTRA_CONF_FILE=ci_native_sim.conf

      - name: Run simulation
        run: |
          cd led_button_tests
          chmod +x build/zephyr/zephyr.exe
          timeout 10s stdbuf -oL build/zephyr/zephyr.exe | tee led_button_tests_log.log

      # - name: Check LED + button output
      #   run: |
      #     cd led_button_tests
      #     if grep -q "BUTTON PRESSED" led_button_tests_log.log; then
      #       echo "Button test passed!"
      #     else
      #       echo "Button test failed!"
      #       exit 1
      #     fi
      
      
      
  #     - name: Run native_sim with two button presses
  # run: |
  #   cd led_button_tests

  #   {
  #     echo "gpio 0 0 0"
  #     sleep 0.05
  #     echo "gpio 0 0 1"
  #     sleep 0.05
  #     echo "gpio 0 0 0"
  #     sleep 0.05
  #     echo "gpio 0 0 1"
  #   } | build/zephyr/zephyr.exe | tee sim_output.log

